body {
    font-family: Courier;
}
#blooprint_header {
    position: absolute;
    top: 30px;
    width: 100%;
}
#blooprint_header p {
    margin-right: 20px;
    font-size: 10px;
}
#slogan {
    position: absolute;
    margin-top:27px;
    right: 33%;
}
#slogan_mobile {
    position: absolute;
    margin-top:27px;
    right: 170px;
}
#trademark {
    position: absolute;
    left: 70%;
    width: 150px;
}
#trademark_mobile {
    position: absolute;
    right:0;
    width: 150px;
}
#title_bars {
    margin-top:19px;
    left: 0;
    right: 31%;
    position: absolute;
}
#title_bars_mobile {
    margin-top:19px;
    left: 0;
    right: 160px;
    position: absolute;
}
.title_bar {
    display: block;
    margin: 0;
    height: 2px;
}
#stripe1{
	right: 300px;
	left: 10px;
    border: 1px solid #000;
	box-sizing: border-box;
}
#stripe2{
	right: 400px;
	left: 20px;
    border: 1px solid #0f0;
	box-sizing: border-box;
}
#stripe3{
	right: 500px;
	left: 30px;
    border: 1px solid #000;
	box-sizing: border-box;
}
.blooprint_center_item {
	display: block;
    max-width: 600px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0;
}
#center_content {
	position: absolute;
	top: 50%;
	max-width: 100%;
	width: 100%;
}
.blooprint_form_item {
	width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
	font-size: 13px;
}
