#services {
    // border-top: 10px solid red;
    background-color: #f4f8ff;
    position: absolute;
    padding: 30px;
    top:100px;
}
.menu_service_detail {
    margin: 20px;
    font-size: 18px;
}
