body {
    font-family: Courier;
}
#blooprint_header {
    position: absolute;
    top: 30px;
    left: 0;
    right: 0;
    width: 100%;
}
#blooprint_header p {
    margin-right: 20px;
    font-size: 10px;
}
#slogan {
    float: right;
    margin: 0;
    padding:0;
}
#trademark {
    margin-left: 70%;
    width: 150px;
}
#title_bars {

    margin-top:19px;
    left: 0;
    right: 31%;
    position: absolute;
}
.title_bar {
    display: block;
    margin: 0;
    height: 2px;
}
#stripe1{
	right: 300px;
	left: 10px;
    border: 1px solid #000;
	box-sizing: border-box;
}
#stripe2{
	right: 400px;
	left: 20px;
    border: 1px solid #0f0;
	box-sizing: border-box;
}
#stripe3{
	right: 500px;
	left: 30px;
    border: 1px solid #000;
	box-sizing: border-box;
}
#restaurant_button {
    position: absolute;
    top:30%;
    margin-left: 20%;
}
