#mobile_restaurant {
    border-top: 25px solid #ff8300;
    background-size: cover;
    background-color: black;
    color: white;
    height: 100%;
    padding-bottom: 0;
}
#mobile_restaurant_home {
    width: 100%;
    height: 100%;
    margin-top: 0;
    padding: 1px 0 15px 0;
    background-color: gray;
    text-align: center;
}
#mobile_menu_header {
    width: 100%;
    margin-top: 0;
    padding: 15px 0 15px 0;
    background-color: gray;
    text-align: center;
    font-size: 28px;
}
#mobile_menu_buttons {
    max-width: 680px;
    width: 100%;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
}
#tablet_menu_buttons {
    width: 767px;
    margin: 0;
    left:0;
    right:0;
}
.mobile_menu_button {
    display: inline-block;
	text-align: center;
	height: 45px;
	width: 33%;
    box-sizing: border-box;
    border: 2px solid green;
    border-radius: 4px;
    margin-left: 0px;
	margin-right: 0px;
	background-color: #000;
}
.mobile_menu_button p {
    margin-top: 12px;
    font-size: 18px;
}
#mobile_sortedMenuList {
    margin-top: 30px;
}
#mobile_menu_section {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
}
#mobile_menu_item {
    font-size: 18px;
    font-weight: bold;
    font-family: Arial;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid white;
}
#mobile_item_side {
    margin-left: 20px;
    font-size: 18px;
    font-weight: normal;
}
#mobile_item_item {
    font-size: 20px;
}
#mobile_item_price {
    font-size: 23px;
    float: right;
    margin-top: 10px;
}
#mobile_menu_item_left {
    width: 77%;
    padding-left: 0;
    margin-left: 0;
}
#mobile_menu_item_right {
    margin-right: 0;
    width: 23%;
}
