#mobile_restaurant {
    border-top: 55px solid red;
    background-size: cover;
    background-color: black;
    color: white;
    height: 100%;
    padding-bottom: 1000px;
}
#mobile_menu_header {
    width: 100%;
    margin-top: 0;
    padding: 25px 0 15px 0;
    background-color: gray;
    text-align: center;
}
#mobile_menu_buttons {
    width: 100%;
    margin: 0;
    left:0;
    right:0;
}
.mobile_menu_button {
    display: inline-block;
	text-align: center;
	height: 45px;
	width: 33%;
    box-sizing: border-box;
    border: 2px solid green;
    border-radius: 4px;

    margin-left: 0px;
	margin-right: 0px;
	background-color: #000;
}
