#mobile_restaurant {
    border-top: 25px solid #7F0000;
    background-size: cover;
    background-color: black;
    color: white;
    height: 100%;
    padding-bottom: 0;
}
#mobile_restaurant_home {
    width: 100%;
    height: 100%;
    margin-top: 0;
    padding: 1px 0 15px 0;
    background-color: green;
    text-align: center;
}
#mobile_menu_header {
    width: 100%;
    margin-top: 0;
    padding: 20px 0 15px 0;
    background-color: green;
    text-align: center;
    font-size: 28px;
}
#tablet_menu_header {
    width: 100%;
    margin-top: 0;
    padding: 20px 0 15px 0;
    background-color: green;
    text-align: center;
    font-size: 36px;
}
#mobile_menu_buttons {
    max-width: 680px;
    width: 100%;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
}
#tablet_menu_buttons {
    width: 767px;
    margin: 0;
    left:0;
    right:0;
}
.mobile_menu_button {
    display: inline-block;
	text-align: center;
	height: 55px;
	width: 50%;
    box-sizing: border-box;
    border: 2px solid yellow;
    border-radius: 4px;
    margin-left: 0px;
	margin-right: 0px;
	background-color: #7F0000;
}
.mobile_menu_button p {
    margin-top: 17px;
    font-size: 18px;
}
#mobile_menu_section {
    list-style-type: none;
    margin: 0;
    margin-top:15px;
    padding: 0;
    max-width: 630px;
    margin-left:auto;
    margin-right: auto;
}
#mobile_menu_item {
    font-size: 18px;
    font-weight: bold;
    font-family: Arial;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid white;
}
#mobile_item_side {
    margin-left: 20px;
    font-size: 18px;
    font-weight: normal;
}
#mobile_item_item {
    font-size: 20px;
}
#mobile_item_price {
    font-size: 23px;
    float: right;
    margin-top: 10px;
}
#mobile_menu_item_left {
    width: 77%;
    padding-left: 0;
    margin-left: 0;
}
#mobile_menu_item_right {
    margin-right: 0;
    width: 23%;
}
.mobile_section_sub_menu {
    border: 1px solid white;
    width: 100%;
    height: 50px;
    background-color: #00f;
    text-align: center;
}
#current_section_list {
    margin-top:15px;
}
.section_header {
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    max-width: 630px;
    border: 1px solid white;
    padding-top: 20px;
    padding-bottom: 13px;
    text-align: center;
    margin-bottom: 15px;
    margin-top: 15px;
    cursor: pointer;
}
.mobile_section_header {
    margin: 0;
    border: 1px solid white;
    padding-top: 20px;
    padding-bottom: 13px;
    text-align: center;
    margin-bottom: 15px;
    margin-top: 15px;
    cursor: pointer;
}
#menu_item_list {
    background-color: #000;
}
